body {
  background: #222639;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 768px) {
  .grid{
    gap : 3rem !important;
  }

  .card{
    min-height: 0vh !important;
    height: 20vh !important;
    text-align: left !important;
  }

  .card:hover{
    scale: 1;
    box-shadow: none;
  }

  .card-img-overlay{
    padding: 0 !important;
    width: 75% !important;
    margin-left: auto !important;
  }

  .card-title,
  .card-text{
    width: 100% !important;
    width: 100% !important;
    margin: 5px 0px !important;
  }

  .card-img{
    object-fit: contain !important;
    height: 75% !important;
    transform: translate(-100%, -50%) !important;
  }
  
}