body{
    background: #222639;
    color: #ddd;
  }

  textarea#text_area_json{
    background: #3c4261;
    color: #ddd;
    min-height: 250px;
    resize: none;
  }

  span.input-group-text{
    background: #3c4261;
    color: #ddd;
  }